*{
margin: 0;padding: 0;
background-color: bisque;
}
div{
    justify-content: center;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
img{
    width: 100%;
}
p{
    color: rgb(243, 109, 56);
    font-size: 3vh;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}